apiVersion: apps/v1
kind: Deployment
spec:
  template:
    spec:
      containers:
        - name: player-data-service
          image: ghcr.io/malikbenkirane/oha-opus-major:80bf6d8ba0f0676f67d022e4033f0d1f0d9b2c2c

